{% extends 'blog/base.html' %}

{% block content %}
    <div class="jumbotron page-color contenttext">
        <h2 class="techfont">Please Login:</h2>
        <h3>(Note: You must be a Super User to continue. Please confirm with the site admin.)</h3>

        {% if form.errors %}
            <p>Error: The username and password pair is incorrect! Please try again.</p>
        {% endif %}

        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-primary" value="Login">
            <input type="hidden" name="next" value="{{next}}">
        </form>
    </div>
{% endblock %}